*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

.scene {

position: relative;
height: 100vh;
overflow-x: hidden;
background: #617EB6;


.sun{

position: absolute;
top: 50px;
left: 80%;
width: 100px;
height: 100px;
background: #F1FE9C;
border-radius: 60%;
box-shadow: 0 0 50px #fff;
cursor: pointer;
transition: 0.5s;
z-index: 1;
}
}
.dark .scene{
    background:#222833;
}
.dark.sun{

    left: 65%;
    box-shadow: 0 0 0 #fff;


}
.dark.sun::before{
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    width: 100%;
    height: 100%;
        background:#222833;}